:root{
    --right-arrow-color--:#01AF85;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#main{
    border-bottom-style: solid;
    border-bottom-color: #D6D4D4;
    padding: 10px 80px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#logoCon{
    cursor: pointer;
    line-height: 25px;
}
#logoBox{
    border: 3px solid #00B388;
    height: 10px;
    width: 2.4rem;
}
#logoB{
    font-size: 18px;
    font-weight:900;
}
#logoP{
    font-size: 18px;
    font-weight: 500;
    line-height: 7px;
}
    
#navBar>a{
    margin: 0px 4px;
    font-weight: 600;
    font-size: 14px;
    color: #444444;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50px;
}
#navBar>a:hover{
    background-color: #F5F5F5;
}

#navBar>a>span{
    width: fit-content;
    margin: 0px 0px 0px 5px;
    display: inline-flex;
    align-items: center;
}

/* solution drpodown container css */
#soluContainer{
    border: 1px solid;
    /* height: 100px; */
    position:absolute;
    left: 0;
    right: 0;
    top: 60px;
    width: 95%;
    margin: auto;
    cursor:default;
    display: grid;
    grid-template-columns: 20% 56% 22% ;
    gap: 1%;
    padding: 22px 20px;
    /* display: none; */
    /* background-color: green; */
    z-index: 999;
    
}
#soluContainer>div{
    /* border: 1px solid; */
}
.soluDropDownDiv1>h4{
    font-size: 24px;
    font-weight: 600;
}
.soluDropDownDiv1>p{
    font-size: 18px;
    margin: 8px 0px;
    color: #01AF85;
    /* border: 1px solid; */
    cursor: pointer;
}
.soluDropDownDiv1>p>span{
    font-size: 14px;
    margin: 0em 0em 0em .4em;
    transition: transform 0.5s;
}

/* #solutions:hover #soluContainer{
    display: block;
} */
.soluDropDownDiv1>p:hover span{
    /* margin-left: 15px; */
    /* padding: 0em 0em 0em .5em; */
    transform: translateX(5px);
    transition: transform .8s;
}
.soluDropDownDiv2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1em;
}
.soluDropDownDiv2>div{
/* border: 1px solid; */
}
.EdgeDiv, .dataDiv , .aiDiv, .securityDiv, .cloudDiv{
    padding: 0em 0em 1.4em 0em;
}
.edgeName, .dataName, .aiName, .securityName, .cloudName{
    font-size: 1.1em;
    font-weight: 500;
}
.hr1, .hr2, .hr3, .hr4, .hr5{
    margin: .4em 1em 0em 0em;
    /* margin: 0em 1em 0em 0em; */
}
.edgeTitle, .dataTitle, .aiTitle, .securityTitle, .cloudTitle{
    font-size: 1.2em;
    font-weight: 600;
    margin-top: .8em;
    cursor: pointer;
}
#rightSideIcon2, #rightSideIcon3, #rightSideIcon4, #rightSideIcon5, #rightSideIcon6{
    font-size: .8em;
    margin-left: .3em;
    transition: transform 0.5s;
    content-visibility: hidden;
    color: var(--right-arrow-color--);

}
.edgeDiscription, .dataDiscription, .aiDiscription, .securityDiscription, .cloudDiscription{
    font-size: 1.1em;
    font-weight: 500;
    margin-top: .1em;
    cursor: pointer;
}

/* hover section */
.edgeTitle:hover #rightSideIcon2,
.dataTitle:hover #rightSideIcon3,
.aiTitle:hover #rightSideIcon4,
.cloudTitle:hover #rightSideIcon5,
.securityTitle:hover #rightSideIcon6{
    content-visibility: visible;
    transform: translateX(7px);
    transition: transform 0.9s;
}

.soluDropDownDiv3{
    border: 1px solid;
}



#iconContainer{
    display: flex;
    align-items: center;
}
#iconContainer i{
    font-size: 20px;
    margin: 0px 20px;
}

